.tab2-container{
    background-color: tomato;
    height: 50px;
    border-radius: 20px 20px 0 0;
}
.ul{
    display: flex;
    justify-content:space-around;
    align-items: center;
    list-style: none;
    line-height: 50px;
}
.li{
    flex-basis: 150px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
}
.li.active{
    color: blueviolet;
    /* border-bottom: 3px solid blueviolet; */
}
.tab2-body{
    background-color: gainsboro;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 20px 20px;
}
.tab2-main{
    width: 95%;
    margin: 0 auto;
}
